// src/styles/index.scss

// Import all your SCSS files here
@import'mixins';
@import 'fonts/fonts';
@import 'variables';
@import 'banners/LandBanner';
@import 'comps/breadCrumbsOne';
// Add more imports as needed
.container{
    width: 100%;
    height: 100%;
}
.button-one {
    @include button-style;
    background-color: #405cf5;
    font-size: 18px;
    &.standard {
        padding: 0 25px;
    }
    &.large {
        padding: 25px 50px;
    }
}
    
